p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0px;
}

.link {
    text-decoration: none;
}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}