body {
  font-family: DM Sans;
  @include fonts(500, 14px, 1.5, null);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color var(--transition);
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: color var(--transition);
  transition: background-color var(--transition);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .container {
//     margin: 0 auto;
//     padding: 0 20px;
// }
