.btn {
    font-family: 'DM Sans';
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    // background-color: transparent;
    // transition: color 300ms linear, background-color 300ms;

    &--red {
        background-color: #D41443;
        color: #FFFFFF;
    }

    &--white {
        background-color: #FFFFFF;
        color: #D41443;
    }

        &--red:hover {
             background-color: #C7133E;
         }

        &--white:hover {
             background-color: #ECEBEB;
        }
       
}