.btn {
  display: flex;
  font-family: 'DM Sans';
  font-style: normal;
  align-items: center;
  text-align: center;
  border: none;
  justify-content: center;
  transition: color var(--transition);
  &--red {
    background-color: #d41443;
    color: #ffffff;
  }
  &--white {
    background-color: #ffffff;
    color: #d41443;
  }
  &--red:hover {
    background-color: #c7133e;
  }
  &--white:hover {
    background-color: #ecebeb;
  }
}

.btn__menu {
  width: 20px;
  height: 12px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.btn__header {
  display: none;
  border-radius: 22px;
  height: 44px;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 160px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    width: 159px;
  }
}

.btn__hero {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  height: 24px;
  &--widht-red {
    width: 62.4px;
  }
  &--widht-white {
    width: 82.8px;
  }
  @media screen and (min-width: 1280px) {
    &--widht-red {
      width: 107px;
      height: 40px;
    }
    &--widht-white {
      width: 138px;
      height: 40px;
    }
  }
}

.btn__about {
  width: 176px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
}

.contacts__buttons {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 14.5px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 15px;
  }
  //     height: 44px;
  //     &--widht-red {
  //         width: 161.45px
  //     }
  //     &--widht-white {
  //         width: 161px
  //     }
  //     @media screen and (min-width: 768px) {
  //         &--widht-red {
  //             width: 191.45px;
  //         }
  //         &--widht-white {
  //             width: 174.05px;
  //         }
  //     }
  //     @media screen and (min-width: 1280px) {
  //         &--widht-red {
  //             width: 198px;
  //         }
  //         &--widht-white {
  //             width: 180px;
  //         }
  //      }
}

.contacts__button--locations {
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  border-color: transparent;
  border: none;
  background-color: var(--btn-footer-accent);
  color: var(--primary-bg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 191.45px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}

.contacts__button--locations:hover,
.contacts__button--locations:focus {
  background-color: var(--btn-footer-accent);
}

.contacts__button--franchise {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border-color: transparent;
  border: none;
  background-color: var(--primary-bg);
  color: var(--btn-footer-accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 174.05px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
  }
}

.contacts__button--franchise:hover,
.contacts__button--franchise:focus {
  background-color: var(--btn-hover-color);
}

.btn-icon {
  @media screen and (min-width: 1280px) {
    margin-left: 13.62px;
    // width: 4.32px;
  }
  &--white {
    margin-left: 8px;
    @media screen and (min-width: 768px) {
      margin-left: 13.4px;
      // width: 4.28px;
    }
  }
  &--red {
    margin-left: 13.18px;
    @media screen and (min-width: 768px) {
      margin-left: 13.17px;
      // width: 4.28px;
    }
  }
}

.btn__modal {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  @media screen and (min-width: 768px) {
    width: 186px;
    height: 44px;
  }
}
.btn-about {
  width: 176px;
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: var(--primary-bg);
  color: var(--section-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include fonts(700, null, 1.2558, null);
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    @include fonts(700, 16px, 1.3125, null);
  }
  .btn-icon--dist {
    margin-left: 13.62px;
  }
}
.btn-about:hover,
.btn-about:focus {
  background-color: var(--btn-hover-color);
}
