.btn {
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    align-items: center;
    text-align: center;
    border: none;
    justify-content: center;
    // background-color: transparent;
    // transition: color 300ms linear, background-color 300ms;
    &--red {
        background-color: #D41443;
        color: #FFFFFF;
    }
    &--white {
        background-color: #FFFFFF;
        color: #D41443;
    }
    &--red:hover {
        background-color: #C7133E;
    }
    &--white:hover {
        background-color: #ECEBEB;
    }
}

.btn__menu {
    width: 20px;
    height: 12px;
    // @media screen and (min-width: 768px ) {
    // }
    // @media screen and (min-width: 1280px ) {
    // }
}

.btn__header {
    display: none;
    // @media screen and (min-width: 768px ) {
    // }
    // @media screen and (min-width: 1280px ) {
    // }
}

.btn__hero {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;
    &--widht-red {
        width: 62.4px;
        height: 24px;
    }
    &--widht-white {
        width: 82.8px;
        height: 24px;
    }
    // @media screen and (min-width: 768px ) {
    // }
    // @media screen and (min-width: 1280px ) {
    // }
}

.btn__about {
    width: 176px;
    height: 44px;
    border-radius: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    // margin-top: 20px;
    // margin-bottom: 40px;
    // @media screen and (min-width: 768px ) {
    // }
    // @media screen and (min-width: 1280px ) {
    // }
}
.contacts__buttons {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 14.5px
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        gap: 15px
    }
}

.contacts__button--locations {
    width: 161.45px;
    height: 44px;
    border-radius: 22px;
    border-color: transparent;
    border: none;
    background-color: var(--btn-footer-accent);
    color: var(--primary-bg);

    @media screen and (min-width: 768px) {
        width: 191.45px;

    }

    @media screen and (min-width: 1280px) {
        width: 198px;
    }
}

.contacts__button--locations:hover,
.contacts__button--locations:focus {
    background-color: var(--btn-footer-accent);
}

.contacts__button--franchise {
    width: 161px;
    height: 44px;
    border-radius: 22px;
    border-color: transparent;
    border: none;
    background-color: var(--primary-bg);
    color: var(--btn-footer-accent);

    @media screen and (min-width: 768px) {
        width: 174.05px;
    }

    @media screen and (min-width: 1280px) {
        width: 180px;
    }
}

.contacts__button--franchise:hover,
.contacts__button--franchise:focus {
    background-color: var(--btn-hover-color);
}

    .btn-icon {
    width: 3.61px;
    height: 8px;
    &--white {
        margin-left: 8px;

        @media screen and (min-width: 768px) {
            margin-left: 13.4px;
            width: 4.28px;
            
        }
            @media screen and (min-width: 1280px) {
                margin-left: 13.62px;
                width: 4.32px;
            }}
        
        &--red {
            margin-left: 13.18px;

            @media screen and (min-width: 768px) {
                margin-left: 13.17px;
                width: 4.28px;
            }

            @media screen and (min-width: 1280px) {
                margin-left: 13.62px;
                width: 4.32px;
                }
        }}

.btn__modal {
    width: 209px;
    height: 44px;
    border-radius: 22px;
    // margin-top: 26px;
    // @media screen and (min-width: 768px ) {
    // }
    // @media screen and (min-width: 1280px ) {
    // }
}