.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;

    &--big-padding {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}
