@import './common';
@import './utils/mixins';
@import './base/base';
@import './base/button';
@import './base/section';
@import './base/container';
@import './utils/variables';
@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
@import './components/modal-form';
@import './components/scroll-to-top';
