:root {
  // colors:
  --primary-bg: #ffffff;
  --secondary-bg: #fff5f6;
  --hero-bg-primary: #ffb8ca;
  --circle-bg: #ffa5ba;
  --section-title-color: #d41443;
  --btn-hover-color-accent: #c7133e;
  --btn-hover-color: #ecebeb;
  --btn-footer-accent: #d41342;
  --footer-social: #fea5bb;
  --primary-text-color: #907e82;
  --secondary-text-color: #000000;
  --mobile-menu-color: #e17992;
  --coments-bg-color: #e1e1e1;
  --products-coffee-col: #f0d1a5;
  --products-shakes-col: #c2e297;
  --comments-point-color: #c7133e;
  --comments-home-color: #d31342;
  // fonts
  --font-title: 'Titan One';
  // transition
  --transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
