<section id="about" class="about about--rihgt">
    <div class="container container--big-padding">
        <p class="about-label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__content">
            <div class="about__img">
                <picture>
                    <source srcset="
              ./images/desktop/milk-about-d.png    1x,
              ./images/desktop/milk-about-d@2x.png 2x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./images/tablet/milk-about-t.png    1x,
              ./images/tablet/milk-about-t@2x.png 2x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./images/mobile/milk-about-m.png    1x,
              ./images/mobile/milk-about-m@2x.png 2x
            " media="(min-width: 320px)" />
                    <img loading="lazy" class="about-pict" src="./images/mobile/milk-about-m.png" alt="cow and milk" />
                </picture>
            </div>
            <div class="about__p">
                <p class="about__text about__text--black">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about__text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button data-modal-open class="btn-about" type="button">
          Read more
          <svg class="btn-icon btn-icon--dist" width="8" height="10">
            <use
              href="./images/symbol-defs-withfill-o.svg#icon-right-arrow"
            ></use>
          </svg>
        </button>
            </div>
        </div>
    </div>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button data-modal-close type="button" class="modal-close">
        <svg class="modal-close-vector" width="24" height="24">
          <use href="./images/symbol-defs-no.svg#icon-close"></use>
        </svg>
      </button>
            <form>
                <picture>
                    <source srcset="
              ./images/desktop/bioeco-hero-d.png    1x,
              ./images/desktop/bioeco-hero-d@2x.png 2x
            " media="(min-width:1280px)" type="image/png" />
                    <source srcset="
              ./images/tablet/bioeco-hero-t.png    1x,
              ./images/tablet/bioeco-hero-t@2x.png 2x
            " media="(min-width:768px)" type="image/png" />
                    <img loading="lazy" src="./images/tablet/bioeco-hero-t.png" alt="jug of milk" class="circle" />
                </picture>
                <p class="modal__text">
                    Ice cream is a dessert product, which is a mass frozen in the process of continuous beating, containing in its basis nutritious, flavoring, aromatic and emulsifying substances. Ice cream also includes fruit ice, poluktovy ice containing products of freezing
                    fruit and berry fruit and berry. Traditional types of ice cream are prepared on the basis of milk mixtures with certain ratios of milk protein and fats and/or on the basis of frozen juices, fruits and berries. They have a sweet taste
                    due to the use of sugar as one of the main flavoring components, a preservative and a modifier of the rheological properties of the mixture at all stages of the technological process of ice cream production. Agar-agar, gelatin, starch
                    are used as an emulsifying component of industrially produced ice cream.
                </p>
            </form>
        </div>
    </div>
</section>