<section class="adv__section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages list">
      <li class="advantages__item">
        <img
          src="../src/images/mobile/icon1-advantages-m.png"
          alt="milk"
          width="33"
          height="50"
        />
        <p class="advantages__text">
          <span class="advantages__style">721</span><br />
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img
          src="../src/images/mobile/icon2-advantages-m.png"
          alt="apple"
          width="50"
          height="50"
        />
        <p class="advantages__text">
          <span class="advantages__style">16kg</span><br />
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img
          src="../src/images/mobile/icon3-advantages-m.png"
          alt="heart"
          width="44"
          height="50"
        />
        <p class="advantages__text">
          <span class="advantages__style">84</span><br />
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
