<section class="adv__section">
    <h2 class="visually-hidden ">Advantages</h2>
    <ul class="advantages list">
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__style">721</span> <br>
          Aliquam ac dui vel dui vulputate consectetur. Mauris
          massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text"> 
          <span class="advantages__style">16kg</span> <br>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__style">84</span> <br>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </section>
</div>
