<section class="adv__section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages list">
      <li class="advantages__item">
        <p class="advantages__text">
          <span id="value1" class="advantages__label">721</span><br />
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__label"><span id="value2">16</span>kg</span
          ><br />
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span id="value3" class="advantages__label">84</span><br />
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
