<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__market">CAFE</p>
        <div>
          <p class="contacts__city">Chicago</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__work work">
          <li class="work__item">
            <p class="work__days">Monday - Friday</p>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work__item">
            <p class="work__days">Saturday - Sunday</p>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__connect">
          <li>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__market contacts__market--food">FOODTRUCK</p>
        <div>
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__work work">
          <li class="work__item">
            <p class="work__days">Monday - Friday</p>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work__item">
            <p class="work__days">Saturday - Sunday</p>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__connect">
          <li>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__market">CAFE</p>
        <div>
          <p class="contacts__city">New York</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__work work">
          <li class="work__item">
            <p class="work__days">Monday - Friday</p>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work__item">
            <p class="work__days">Saturday - Sunday</p>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__connect">
          <li>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li>
        <button type="button" class="contacts__button--locations">
          Our Locations
          <svg class="btn-icon btn-icon--white" width="8px" height="10px">
            <use
              href="./images/symbol-defs-withfill.svg#icon-right-arrow-white"
            ></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="contacts__button--franchise">
          Franchise
          <svg class="btn-icon btn-icon--red" width="8" height="10">
            <use
              href="./images/symbol-defs-withfill-o.svg#icon-right-arrow"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
