<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper mySwiper">
      <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Aleksandr_Shabanov.png    1x,
              ./images/reviews/Aleksandr_Shabanov@2x.png 2x
            "
            src="./images/reviews/Aleksandr_Shabanov.png"
            alt="Alex Teamlead photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Alex</h3>
                I am teamlead and I like to drink cold &#9749; coffee to chill
                out my brain.
              </article>
            </div>
          </div>
          <p class="reviews__name">Alex Teamlead, Dnipro</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Vitaliy_Lyakh.png    1x,
              ./images/reviews/Vitaliy_Lyakh@2x.png 2x
            "
            src="./images/reviews/Vitaliy_Lyakh.png"
            alt="Vitaliy photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Vitaliy Lyakh</h3>
                Its hot today! You should take some frosty cocktails&#127865;
                for your
                <span
                  ><a
                    href="https://goit.ua/"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    ><img
                      src="./images/goit.png"
                      alt="GoIT-logo"
                      width="50" /></a
                ></span>
                team to refresh after codding!
              </article>
            </div>
          </div>
          <p class="reviews__name">Vitaliy Lyakh, Lviv</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Ivanna_Chorna.png    1x,
              ./images/reviews/Ivanna_Chorna@2x.png 2x
            "
            src="./images/reviews/Ivanna_Chorna.png"
            alt="Ivanna's photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Ivanna</h3>
                I am a member of the coolest team of icecream lovers. How do you
                think, I prefer fruit or chocolate ice cream&#127848;?
              </article>
            </div>
          </div>
          <p class="reviews__name">Ivanna Chorna, Lviv</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Maxim_Dorogokuplya.png    1x,
              ./images/reviews/Maxim_Dorogokuplya@2x.png 2x
            "
            src="./images/reviews/Maxim_Dorogokuplya.png"
            alt="Maks photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Maks</h3>
                The team is incredible! The product is amazing! The guys are
                great! Everyone did their best. And now I can't look at ice
                cream. I'm sick of ice cream! &#128517;
              </article>
            </div>
          </div>
          <p class="reviews__name">Maks, Dnipro</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Vitalii_Sidorenko.png    1x,
              ./images/reviews/Vitalii_Sidorenko@2x.png 2x
            "
            src="./images/reviews/Vitalii_Sidorenko.png"
            alt="Vitaliy Sidorenko photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Vitaliy Sidorenko</h3>
                I love americano &#x2615; without sugar
              </article>
            </div>
          </div>
          <p class="reviews__name">Vitaliy Sidorenko, Kharkiv</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Olga_Prus.png    1x,
              ./images/reviews/Olga_Prus@2x.png 2x
            "
            src="./images/reviews/Olga_Prus.png"
            alt="Olhas photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Olha</h3>
                I am a big fan of icecream&#127846; with nuts and milk chocolate
              </article>
            </div>
          </div>
          <p class="reviews__name">Olha Prus, Zhovti Vody</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Denis_Khrebtov.png    1x,
              ./images/reviews/Denis_Khrebtov@2x.png 2x
            "
            src="./images/reviews/Denis_Khrebtov.png "
            alt="Denis photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Denis</h3>
                Like chocolate icecream, and drink milkshake at the same time
                &#129396; &#129303;
              </article>
            </div>
          </div>
          <p class="reviews__name">Denis, Dnipro</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            loading="lazy"
            class="reviews__photo"
            srcset="
              ./images/reviews/Aleksandr_Mytrofanov.png    1x,
              ./images/reviews/Aleksandr_Mytrofanov@2x.png 2x
            "
            src="./images/reviews/Aleksandr_Mytrofanov.png"
            alt="Alex Mitrofanov photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">AlexMytrofanov</h3>
                The bartender, would not refuse coffee with ice cream and
                stronger for productive work.
              </article>
            </div>
          </div>
          <p class="reviews__name">Alex Mytrofanov, Dnipro</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
