<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper mySwiper">
      <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <img
            class="reviews__photo"
            srcset="
              ./images/mobile/img1-customer-m.png    1x,
              ./images/mobile/img1-customer-m@2x.png 2x
            "
            src="./images/mobile/img1-customer-m.png"
            alt="Emily photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Slider 1</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            class="reviews__photo"
            srcset="
              ./images/mobile/img2-customer-m.png    1x,
              ./images/mobile/img2-customer-m@2x.png 2x
            "
            src="./images/mobile/img2-customer-m.png"
            alt="Sarah photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Slider 2</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
          <p class="reviews__name">Sarah, New York</p>
        </li>
        <li class="reviews__item swiper-slide">
          <img
            class="reviews__photo"
            srcset="
              ./images/mobile/img3-customer-m.png    1x,
              ./images/mobile/img3-customer-m@2x.png 2x
            "
            src="./images/mobile/img3-customer-m.png"
            alt="Helen photo"
            width="85"
          />
          <div class="reviews__description">
            <div class="reviews__wrapper">
              <article class="reviews__text">
                <h3 class="visually-hidden">Slider 1</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
          <p class="reviews__name">Helen, Chicago</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
