<footer id="contacts" class="footer">
    <div class="container">
        <div class="section-head section-footer">
            <p class="section-label section-heading">
                HOMEMADE ICE CREAM MADE
            </p>
            <span class="section-title section-page">
                with passion
            </span>
        </div>
        <div class="footer-feedback">
            <ul class="social-list">
                <li class="social-item">
                    <a href="https://github.com/" class="social-link">
                        <svg width="20px" height="20px" class="social-icon">
                            <use href="./images/symbol-defs-no.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a href="https://web.telegram.org/k/" class="social-link">
                        <svg width="20px" height="20px" class="social-icon">
                            <use href="./images/symbol-defs-no.svg#icon-telegram"></use>
                        </svg>
                </li>
                <li class="social-item">
                    <a href="https://www.facebook.com/" class="social-link">
                        <svg width="20px" height="20px" class="social-icon">
                            <use href="./images/symbol-defs-no.svg#icon-facebook"></use>
                        </svg>
                </li>
            </ul>
            <address class="footer-address">
                <p class="address-text">Feel free to contact
                    <a href="tel:+610383766284" class='footer-tel'>+61 (0) 383 766 284</a>
                </p>
            </address>
        </div>
    </div>

    <div class="footer-copyright">
        <p class="footer-license">
            &#169; 2022 - IceCream. All Rights Reserved.
        </p>
    </div>
</footer>