<footer class="footer">
    <div class="section section__footer">
        <div class="container">
            <div class="section-head">
                <p class="section-head__label">
                    HOMEMADE ICE CREAM MADE
                </p>
                <span class="section-head__title">
                with passion
            </span>
            </div>
            <div class="footer__feedback">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="https://github.com/" rel="noopener noreferrer nofollow" target="_blank" class="social-list__link">
                            <svg width="20px" height="20px" class="social-list__icon">
                            <use href="./images/symbol-defs-no.svg#icon-github"></use>
                        </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="https://web.telegram.org/k/" rel="noopener noreferrer nofollow" target="_blank" class="social-list__link">
                            <svg width="20px" height="20px" class="social-list__icon">
                            <use href="./images/symbol-defs-no.svg#icon-telegram"></use>
                        </svg>
                    </li>
                    <li class="social-list__item">
                        <a href="https://www.facebook.com/"rel="noopener noreferrer nofollow" target="_blank" class="social-list__link">
                            <svg width="20px" height="20px" class="social-list__icon">
                            <use href="./images/symbol-defs-no.svg#icon-facebook"></use>
                        </svg>
                    </li>
                </ul>
                <address class="footer__address">
                <p class="footer__text">Feel free to contact
                    <a href="tel:+610383766284" class='footer__tel'>+61 (0) 383 766 284</a>
                </p>
            </address>
            </div>
        </div>

    </div>
    <div class="footer__copyright">
        <p class="footer__license">
            &#169; 2022 - IceCream. All Rights Reserved.
        </p>
    </div>
</footer>