<section class="section">
  <div class="container">
    <h2 class="visually-hidden">gallery</h2>
    <picture>
      <source
        srcset="
          ./images/desktop/img-gallery-d.png    1x,
          ./images/desktop/img-gallery-d@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/tablet/img-gallery-t.png    1x,
          ./images/tablet/img-gallery-t@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/mobile/img-gallery-m.png    1x,
          ./images/mobile/img-gallery-m@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/jpeg"
      />

      <img
        src="./images/mobile/img-gallery-m.jpg"
        alt="Gallery"
        class="gallery__img"
      />
    </picture>
  </div>
</section>
