<section class="section section__gallery">
  <div class="container">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/img-1-d.png   1x,
            ./images/gallery/desktop/img-1-d2x.png 2x
          "
          media="(min-width:1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/tablet/img-1-t.png   1x,
            ./images/gallery/tablet/img-1-t2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/mobile/img-1-m.png   1x,
            ./images/gallery/mobile/img-1-m2x.png 2x
          "
          media="(max-width:767px)"
          type="image/png"
        />
        <img
          loading="lazy"
          src="images/gallery/mobile/img-1-m.png"
          alt="ice cream"
          class="gallery__image"
        />
      </picture>

      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-2-d.png   1x,
              ./images/gallery/desktop/img-2-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-2-t.png   1x,
              ./images/gallery/tablet/img-2-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-2-m.png   1x,
              ./images/gallery/mobile/img-2-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-2-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-3-d.png   1x,
              ./images/gallery/desktop/img-3-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-3-t.png   1x,
              ./images/gallery/tablet/img-3-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-3-m.png   1x,
              ./images/gallery/mobile/img-3-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-3-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-4-d.png   1x,
              ./images/gallery/desktop/img-4-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-4-t.png   1x,
              ./images/gallery/tablet/img-4-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-4-m.png   1x,
              ./images/gallery/mobile/img-4-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-4-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-5-d.png   1x,
              ./images/gallery/desktop/img-5-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-5-t.png   1x,
              ./images/gallery/tablet/img-5-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-5-m.png   1x,
              ./images/gallery/mobile/img-5-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-5-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-6-d.png   1x,
              ./images/gallery/desktop/img-6-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-6-t.png   1x,
              ./images/gallery/tablet/img-6-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-6-m.png   1x,
              ./images/gallery/mobile/img-6-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-6-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-7-d.png   1x,
              ./images/gallery/desktop/img-7-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-7-t.png   1x,
              ./images/gallery/tablet/img-7-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-7-m.png   1x,
              ./images/gallery/mobile/img-7-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-7-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>
      </div>

      <div class="img-margin">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-8-d.png   1x,
              ./images/gallery/desktop/img-8-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-8-t.png   1x,
              ./images/gallery/tablet/img-8-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-8-m.png   1x,
              ./images/gallery/mobile/img-8-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-8-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-9-d.png   1x,
              ./images/gallery/desktop/img-9-d2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-9-t.png   1x,
              ./images/gallery/tablet/img-9-t2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-9-m.png   1x,
              ./images/gallery/mobile/img-9-m2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            loading="lazy"
            src="images/gallery/mobile/img-9-m.png"
            alt="ice cream"
            class="gallery__image"
          />
        </picture>
      </div>

      <picture>
        <source
          srcset="
            ./images/gallery/desktop/img-10-d.png   1x,
            ./images/gallery/desktop/img-10-d2x.png 2x
          "
          media="(min-width:1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/tablet/img-10-t.png   1x,
            ./images/gallery/tablet/img-10-t2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/mobile/img-10-m.png   1x,
            ./images/gallery/mobile/img-10-m2x.png 2x
          "
          media="(max-width:767px)"
          type="image/png"
        />
        <img
          loading="lazy"
          src="images/gallery/mobile/img-10-m.png"
          alt="ice cream"
          class="gallery__image"
        />
      </picture>
    </div>
  </div>
</section>
