<section class="section section__gallery">
  <div class="container">
    <h2 class="visually-hidden">gallery</h2>
    <picture>
      <source
        srcset="
          ./images/desktop/img-gallery-d.png   1x,
          ./images/desktop/img-gallery-d2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/tablet/img-gallery-t.png   1x,
          ./images/tablet/img-gallery-t2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/mobile/img-gallery-m.png   1x,
          ./images/mobile/img-gallery-m2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/jpeg"
      />

      <img
        src="./images/desktop/img-gallery-d.png"
        alt="Gallery"
        class="gallery__img"
      />
    </picture>
  </div>
</section>
