<header class="header">
    <div class="container header__container">
        <a href="./index.html" title="Главная страница" class="logo logo__header">
            icecream
        </a>
        <button type="button" class="header-menu__open">
        </button>
    </div>
    <div class="mob-menu is-hidden">
        <div class="container">
            <button type="button" class="mob-menu__close">
            </button>
            <div class="site-nav"></div>
                <button type="button" class="buttob__order">
                    Buy now >
                </button>
                <ul class="site-nav__list list">
                    <li class="site-nav__item">
                        <a href="" title="Home" class="site-nav__link site-nav__link--current">Home</a>
                    </li>
                    <li class="site-nav__item">
                        <a href="" title="About us" class="site-nav__link">About us</a>
                    </li>
                    <li class="site-nav__item">
                        <a href="" title="How it’s made?" class="site-nav__link">How it’s made?</a>
                    </li>
                    <li class="site-nav__item">
                        <a href="" title="Our products" class="site-nav__link">Our products</a>
                    </li>
                    <li class="site-nav__item">
                        <a href="" title="Contact" class="site-nav__link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>