<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream<br />made with<br />
      <span class="hero__title--red">passion</span>
    </h1>
    <ul class="hero-nav">
      <li class="hero-nav__item hero-nav__item--red">
        <a href="#products" class="hero-nav__link">Products</a>
      </li>
      <li class="hero-nav__item">
        <a href="#about" class="hero-nav__link hero-nav__link--red"
          >How it’s made?</a
        >
      </li>
    </ul>
    <div class="hero__circle">
      <img
        srcset="
          ./images/mobile/icecream-hero-m.png    1x,
          ./images/mobile/icecream-hero-m@2x.png 2x
        "
        src="./images/mobile/icecream-hero-m.png"
        alt="ice cream cone"
        width="171"
        class="hero__image"
      />
    </div>
  </div>
</section>
