<section class="hero">
  <div class="container hero__container container--big-padding">
    <div class="hero__box-one">
      <div class="caption-box">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--red">passion</span>
        </h1>
        <ul class="hero-nav">
          <li class="hero-nav__item">
            <a href="#products" class="hero-nav__link hero-nav__link--white"
              >Products</a
            >
          </li>
          <li class="hero-nav__item">
            <a href="#about" class="hero-nav__link hero-nav__link--red"
              >How it’s made?</a
            >
          </li>
        </ul>
      </div>
      <div class="product-box">
        <picture>
          <source
            srcset="
              ./images/desktop/bioeco-hero-d.png    1x,
              ./images/desktop/bioeco-hero-d@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/bioeco-hero-t.png    1x,
              ./images/tablet/bioeco-hero-t@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <img
            src="./images/tablet/bioeco-hero-t.png"
            alt="jug of milk"
            class="product-box__image"
          />
        </picture>
        <div class="product-box__about">
          <p class="product-box__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="product-box__btn">
            <svg class="product-box__btn-icon">
              <use href="./images/symbol-defs-no.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="hero__box-two">
      <picture>
        <source
          srcset="
            ./images/desktop/icecream-hero-d.png    1x,
            ./images/desktop/icecream-hero-d@2x.png 2x
          "
          media="(min-width:1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/tablet/icecream-hero-t.png    1x,
            ./images/tablet/icecream-hero-t@2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/mobile/icecream-hero-m.png    1x,
            ./images/mobile/icecream-hero-m@2x.png 2x
          "
          media="(max-width:767px)"
          type="image/png"
        />
        <img
          src="./images/mobile/icecream-hero-m.png"
          alt="ice cream cone"
          class="hero__image"
        />
      </picture>
    </div>

    <div class="hero__box-three">
      <ul class="retail">
        <li class="retail__item">
          <p class="retail__text">
            <span class="retail__number">16</span><br />cafes
          </p>
        </li>
        <li class="retail__item">
          <p class="retail__text">
            <span class="retail__number">23</span><br />food trucks
          </p>
        </li>
      </ul>
      <picture>
        <source
          srcset="
            ./images/desktop/tasty-hero-d.png    1x,
            ./images/desktop/tasty-hero-d@2x.png 2x
          "
          media="(min-width:1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/tablet/tasty-hero-t.png    1x,
            ./images/tablet/tasty-hero-t@2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />
        <img
          src="./images/tablet/tasty-hero-t.png"
          alt="girl with ice cream"
          class="retail__image"
        />
      </picture>
    </div>
  </div>
</section>
