<div class="modal-one is-hidden">
    <div class="modal-window">
        <h2 class="modal-title">Leave your details, we will call you back</h2>
        <button class="modal-button">
      <svg class="modal-svg">
        <use
          href="./images/symbol-defs-withfill.svg#icon-close-black-18dp"
        ></use>
      </svg>
    </button>
        <form class="modal-form" autocomplete="on">
            <label for="modal-name" class="form-label">Name</label>
            <div class="modal-container">
                <input type="text" class="form-input" name="modal-name" id="modal-name" />
                <svg class="modal-form-svg">
          <use href="./images/symbol-defs-withfill.svg#icon-person-black"></use>
        </svg>
            </div>
            <label for="modal-tel" class="form-label">Phone</label>
            <div class="modal-container">
                <input type="tel" class="form-input" name="modal-tel" id="modal-tel" />
                <svg class="modal-form-svg">
          <use href="./images/symbol-defs-withfill.svg#icon-phone-black"></use>
        </svg>
            </div>
            <label for="modal-email" class="form-label">Mail</label>
            <div class="modal-container">
                <input type="email" class="form-input" name="modal-email" id="modal-email" />
                <svg class="modal-form-svg">
          <use href="./images/symbol-defs-withfill.svg#icon-email-black"></use>
        </svg>
            </div>
            <!-------- радіо кнопки -------->
            <div class="radio-container">
                <select id="size" name="size" class="radio__select">
          <option class="radio__option" value="a" selected>Coffee</option>
          <option class="radio__option" value="b">Americano</option>
          <option class="radio__option" value="c">Late</option>
          <option class="radio__option" value="d">Expresso</option>
        </select>

                <div class="namber">
                    <label class="namber__label">
            Number:
            <input
              class="namber__input"
              type="number"
              name="weight"
              min="1"
              max="150"
              step="1"
              value="0"
            />
          </label>
                </div>
            </div>

            <button type="submit" class="button__order button__submit">Send</button>
        </form>
    </div>
</div>

<!--------------- модалка 2 --------------->
<!-- <div class="modal-two is-hidden">
  <div class="modal-window-two">
    <h2 class="modal-title">You have successfully placed your order</h2>
    <button class="modal-button">
      <svg class="modal-svg">
        <use
          href="./images/symbol-defs-withfill.svg#icon-close-black-18dp"
        ></use>
      </svg>
    </button>
  </div>
</div> -->