<section class="products">
  <div class="container products__container">
    <p class="products__text-main">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__subtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="">
          <img
            loading="lazy"
            src="./images/mobile/arrow-right-products-m.png"
            alt="arrow-right"
            class="products__btn"
            width="40"
            height="40"
          />
          <!-- <svg class="icon-right-arrow" width="40" height="40">
                        <use href="./images/simbol-defs-withfill.svg#icon-right-arrow"></use>
                    </svg> -->
        </a>
      </li>

      <li class="products__item products__item--bez">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__subtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="">
          <img
            loading="lazy"
            src="./images/mobile/arrow-right-products-m.png"
            loading="lazy"
            alt="arrow-right"
            class="products__btn"
            width="40"
            height="40"
          />
          <!-- <svg class="icon-right-arrow" width="40" height="40">
                        <use href="./images/simbol-defs-withfill.svg#icon-right-arrow"></use>
                        </svg> -->
        </a>
      </li>

      <li class="products__item products__item--green">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__subtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="">
          <img
            loading="lazy"
            src="./images/mobile/arrow-right-products-m.png"
            alt="arrow-right"
            class="products__btn"
            width="40"
            height="40"
          />
          <!-- <svg class="icon-right-arrow" width="40" height="40">
                        <use href="./images/simbol-defs-withfill.svg#icon-right-arrow"></use>
                        </svg> -->
        </a>
      </li>
    </ul>
  </div>
</section>
