<section id="products" class=" products">
    <div class="container">
        <p class="products__text-main">100% natural</p>
        <h2 class="products__title">products</h2>
        <div class="product-list">
        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__subtitle">ice cream</h3>
                <p class="products__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <div class="products__btn">
                    <svg width="20" height="20">
                        <use href="./images/hero-arrow-right.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="products__item products__item--bez">
                <h3 class="products__subtitle">ice coffee</h3>
                <p class="products__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <div class="products__btn">
                     <svg width="20" height="20">
                        <use href="./images/hero-arrow-right.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="products__item products__item--green">
                <h3 class="products__subtitle">milkshakes</h3>
                <p class="products__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <div class="products__btn">
                    <svg width="20" height="20">
                        <use href="./images/hero-arrow-right.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
    </div>
</section>