
.about{
    background-image: url(../images/mobile/about-milk-left-m.png),
    url(../images/mobile/about-milk-right-m.png);
    background-position:left 78%, 100% 80% ;
    
    background-repeat: no-repeat;
    background-color: var(--secondary-bg);
    padding-top: 60px;
    @media screen and (min-width: 390px){
        background-position: left 84%, 100% 85%;
    }
@media screen and (min-width: 768px) {
        padding-top: 20px;
        background-image: none;
    }
        @media screen and (min-width: 1280px) {
            background-image: url(../images/desktop/bg-about-left-d.png),
                    url(../images/desktop/bg-about-right-d.png);
                background-position: left 120%, 100% 120%;
            
                background-repeat: no-repeat;
            padding-top: 60px;
        }
}

.about-label{
    width: 198px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Titan One';
    color: var(--circle-bg);
    @include fonts(400, 18px, 1.17, null);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        width: 100%;
        @include fonts(400, 26px, 1.1538, null);
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        @include fonts(400, 30px, 1.1333, null);
        margin-bottom: 16px;
        }
}
.about__title{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    font-family: 'Titan One';
    @include fonts(400, 34px, 1.47, null);
    color: var(--section-title-color);
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
            width: 100%;
            @include fonts(400, 48px, 1.1458, null);
        }
                @media screen and (min-width: 1280px) {
                    width: 100%;
                    margin-bottom: 60px;
                    @include fonts(400, 58px, 1.1379, null);
                }
}

.about__text {
    width: 220px;
    color: var(--primary-text-color);
    @include fonts(null, 12px, 1.5833, null);
    text-align: left;
    margin-top: 40px;
    @media screen and (min-width: 390px){
        width: 100%;
    }

    @media screen and (min-width: 768px) {
    width: 334px;
    @include fonts(null, null, 1.7857, null);
}
 @media screen and (min-width: 1280px) {
     width: 463px;
    @include fonts(null, 16px, 1.75, null);
     margin-top: 32px;
 }
 &--black{
    color: var(--secondary-text-color);
    @media screen and (min-width: 768px) {
            @include fonts(null, null, 1.7857, null);
        }
   
}
}

.about__content{
@media screen and (min-width: 768px){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-around;    
}
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 94px 15px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.2);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9999;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    padding: 40px;
    width: 100%;
    background-color: var(--mobile-menu-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        height: 581px;
        width: 528px;
    }

}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-close-vector {
    height: 11px;
    width: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover>.modal-close-vector,
.modal-close:focus>.modal-close-vector {
    fill: var(--accent-color);
}

.modal__text {
    width: 100%;
    color: var(--primary-bg);
    @include fonts(null, 12px, 1.5833, null);
    text-align: justify;
    margin-top: 32px;

    @media screen and (min-width: 390px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        width: 100%;
        @include fonts(null, 16px, 1.75, null);
        margin-top: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        @include fonts(null, 16px, 1.75, null);
        margin-top: 32px;
    }

    &--black {
        color: var(--secondary-text-color);

        @media screen and (min-width: 768px) {
            @include fonts(null, null, 1.7857, null);
        }

    }
}





