
.about{
    background-image: url(../images/mobile/about-milk-left-m.png),
    url(../images/mobile/about-milk-right-m.png);
    background-position:left 78%, 100% 80% ;
    
    background-repeat: no-repeat;
    background-color: var(--secondary-bg);
    padding-top: 60px;
    @media screen and (min-width: 390px){
        background-position: left 84%, 100% 85%;
    }
@media screen and (min-width: 768px) {
        padding-top: 20px;
        background-image: none;
    }
        @media screen and (min-width: 1280px) {
            background-image: url(../images/desktop/bg-about-left-d.png),
                    url(../images/desktop/bg-about-right-d.png);
                background-position: left 120%, 100% 120%;
            
                background-repeat: no-repeat;
            padding-top: 60px;
        }
}

.about-label{
    width: 198px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Titan One';
    color: var(--circle-bg);
    @include fonts(400, 18px, 1.17, null);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        width: 100%;
        @include fonts(400, 26px, 1.1538, null);
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        @include fonts(400, 30px, 1.1333, null);
        margin-bottom: 16px;
        }
}
.about__title{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    font-family: 'Titan One';
    @include fonts(400, 34px, 1.47, null);
    color: var(--section-title-color);
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
            width: 100%;
            @include fonts(400, 48px, 1.1458, null);
        }
                @media screen and (min-width: 1280px) {
                    width: 100%;
                    margin-bottom: 60px;
                    @include fonts(400, 58px, 1.1379, null);
                }
}

.about__text {
    width: 220px;
    color: var(--primary-text-color);
    @include fonts(null, 12px, 1.5833, null);
    text-align: left;
    margin-top: 40px;
    @media screen and (min-width: 390px){
        width: 100%;
    }

    @media screen and (min-width: 768px) {
    width: 334px;
    @include fonts(null, null, 1.7857, null);
}
 @media screen and (min-width: 1280px) {
     width: 463px;
    @include fonts(null, 16px, 1.75, null);
     margin-top: 32px;
 }
 &--black{
    color: var(--secondary-text-color);
    @media screen and (min-width: 768px) {
            @include fonts(null, null, 1.7857, null);
        }
   
}
}

.about__content{
@media screen and (min-width: 768px){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-around;    
}
}





