.adv__section {
  background-color: #fff5f6;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 17px;
  max-width: 768px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  max-width: 230px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__text {
  margin-top: 21px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}
.advantages__style {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
