.adv__section {
  background-color: #fff5f6;
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 21px;
    padding-bottom: 60px;
  }
}

.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantages__item {
  width: 230px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 156px;
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 266px;
    &:not(:last-child) {
      margin-right: 160px;
    }
    // gap: 160px;
  }
}

.advantages__item::before {
  content: '';
  display: block;
  margin-bottom: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__item:first-child::before {
  width: 33px;
  height: 50px;
  background-image: url(../images/mobile/icon1-advantages-m.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/icon1-advantages-m@2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/icon1-advantages-d.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/icon1-advantages-d@2x.png);
    }
  }
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/mobile/icon2-advantages-m.png);
  width: 50px;
  height: 50px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/icon2-advantages-m@2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/icon2-advantages-d.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/icon2-advantages-d@2x.png);
    }
  }
}

.advantages__item:last-child::before {
  width: 44px;
  height: 50px;
  background-image: url(../images/mobile/icon3-advantages-m.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/icon3-advantages-m@2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/icon3-advantages-d.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/icon3-advantages-d@2x.png);
    }
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 174%;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.advantages__label {
  display: inline-block;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
  }
}
