.reviews {
    padding: 40px 0 0 0;
    @media screen and (min-width: 768px) {
        padding: 40px 0;
    }
    @media screen and (min-width: 1280px) {
        padding: 60px 0;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 37px;
    @media screen and (min-width: 768px) {
        padding-bottom: 53px;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    opacity: 1;
    transition: transform 300ms ease-in;
}

.swiper-pagination-bullet-active {
    width: 12.4px;
    height: 11.84px;
    background-color: transparent;
    border-radius: unset;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./../images/mobile/home.png');
    transform: scale(1.3);
}

.reviews__photo {
    margin: 0 auto 32px;
    @media screen and(min-width: 768px) {
        margin-bottom: 20px;
    }
    @media screen and(min-width: 1280px) {
        margin-bottom: 16px;
    }
}

.reviews__description {
    margin: 0 auto;
    margin-bottom: 36px;
    padding: 43px 50px 21px 50px;
    max-width: 100%;
    position: relative;
    background-color: #fafafa;
    @media screen and(min-width: 320px) {
        min-width: 280px;
    }
    @media screen and(min-width: 768px) {
        max-width: 620px;
        padding: 37px 6px 36px 6px;
        margin-bottom: 24px;
    }
    @media screen and(min-width: 1280px) {
        max-width: 1034px;
        padding: 47px 106px 31px 106px;
        margin-bottom: 36px;
    }
}

.reviews__description::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 53px;
    width: 54px;
    height: 40px;
    background-size: contain;
    background-image: url('./../images/mobile/paws.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('./../images/mobile/paws@x2.png');
    }
    @media screen and (min-width: 768px) {
        top: 20px;
        left: 6px;
    }
    @media screen and (min-width: 1280px) {
        top: 32px;
        left: 105px;
    }
}

.reviews__wrapper {
    padding: 0 8px 5px 15px;
    background: repeating-linear-gradient( #fafafa, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
    @media screen and (min-width: 768px) {
        padding-left: 45px;
        padding-right: 49px;
    }
    @media screen and (min-width: 1280px) {
        padding: 0 35px 8px 36px;
    }
}

.reviews__text {
    position: relative;
    z-index: 5;
    text-align: center;
    @include fonts(null,
    12px,
    2.55,
    null);
    @media screen and(min-width: 768px) {
        @include fonts(null, 14px, 2.16, 0.04em);
    }
    @media screen and(min-width: 1280px) {
        @include fonts(null,
        16px,
        1.86,
        null);
    }
    & span {
        display: inline-block;
    }
}

.reviews__name {
    position: relative;
    text-align: center;
    @include fonts(null,
    14px,
    1.86,
    null);
    @media screen and(min-width: 768px) {
        font-size: 16px;
    }
    @media screen and(min-width: 1280px) {
        font-size: 20px;
    }
}

.reviews__name::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./../images/mobile/dots-reviews.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('./../images/mobile/dots-reviewsx2.png');
    }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--section-title-color);
    @media screen and (max-width: 1279px) {
        display: none;
    }
}