 //animation-social-icon//
@keyframes social-icon-anime {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 44, 97, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
///
.footer {
  background-color: #fff5f6;
  padding-top: 113px;
  padding-bottom: 25px;
  @media screen and(min-width:768px) {
    padding-top: 158px;
    padding-bottom: 18px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 165px;
    padding-bottom: 10px;
  }
.container {
    min-width: 320px;

    .section-footer {
      margin-left: 0px;
      margin-bottom: 43px;
      @media screen and(min-width:768px) {
        margin-bottom: 91px;
      }
      @media screen and(min-width:1280px) {
        margin-bottom: 97px;
      }
    }
    .section-heading {
        margin-bottom: 16px;
      @media screen and(min-width:1280px) {
        font-size: 30px;
        line-height: 1.133;
        letter-spacing: 0.04em;
      }
    }
    .section-page {
      font-weight: normal;
      @media screen and(min-width:1280px) {
        font-size: 58px;
        line-height: 1.138;
        letter-spacing: 0.06em;
      }
    }
    @media screen and(min-width:768px) {
      display: flex;
    }
}
}
  
.section-footer {
  width: 234px;
  @media screen and(min-width:768px) {
    width: 340px;
  }
  @media screen and(min-width:1280px) {
    width: 477px;
  }
  .section-label {
    text-align: start;
  }
  .section-title {
    text-align: start;
  }
}


.section-label{
font-family: 'Titan One';
font-style: normal;
font-size: 30px;
line-height: 1.33;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFA5BA;
}

.section-title{
font-family: 'Titan One';
font-style: normal;
font-size: 58px;
line-height: 1.33;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #D41443;

}

.footer-feedback {
display: flex;
margin-left: auto;
flex-direction: column;
align-items: flex-end;
text-align: end;
margin-bottom: 43px;

}
.social-list {
display: flex;
margin-left: -28px;
margin-bottom: 40px;
@media screen and(min-width:1280px) {
margin-bottom: 50px;
} 
}

.social-item {
margin-left: 25px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fea5bb;
    animation: social-icon-anime 2000ms infinite 750ms;
    @media screen and(min-width:768px) {
      width: 34px;
      height: 34px;
    }
  }

.social-link:hover,
.social-link:focus {
background-color: #d41443;
transform: scale(1.2);
}
.social-icon {
fill: inherit;
stroke: none;
  }
.footer-address {
font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;

  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
}
.footer-address:hover,
.footer-address:focus {
transform: scale(1.2);
}
.footer-tel {
  color: #d41443;
}

.footer-copyright::before {
    content: '';
    display: block;
    border: 1px solid #e1e1e1;
    margin-bottom: 22px;
    @media screen and(min-width:768px) {
    margin-bottom: 29px;
    }
    @media screen and(min-width:1280px) {
    margin-bottom: 9px;
    }
 }

.footer-copyright{
    text-align: center;
}
.footer-license {
 margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;;
  @media screen and(min-width:768px) {
    width: 100%;
    line-height: 1.86;
  }
}