    //animation-social-icon//
    @keyframes social-icon-anime {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 44, 97, 0.5);
        }
        70% {
            -moz-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }
    
    ///
    .footer {
        background-color: #fff5f6;
        .container {
            min-width: 320px;
            .section-header {
                @media screen and(max-width: 767px) {
                    margin-left: 0px;
                    margin-bottom: 40px;
                }
                // @media screen and(min-width: 768px) {
                //     margin-bottom: 91px;
                // }
                // @media screen and(min-width:1280px) {
                //     margin-bottom: 97px;
                // }
            }
            // .section-heading {
            //     margin-bottom: 16px;
            //     @media screen and(min-width: 1280px) {
            //         font-size: 30px;
            //         line-height: 1.133;
            //         letter-spacing: 0.04em;
            //     }
            // }
            //  Зачем дублируешь section-title???
            // .section-page {
            //     font-weight: normal;
            //     @media screen and(min-width: 1280px) {
            //         font-size: 58px;
            //         line-height: 1.138;
            //         letter-spacing: 0.06em;
            //     }
            // }
            @media screen and(min-width:768px) {
                display: flex;
            }
        }
    }
    
    .section-header {
        width: 234px;
        @media screen and(min-width: 768px) {
            width: 340px;
        }
        @media screen and(min-width:1280px) {
            width: 477px;
        }
        // .section-label {
        //     text-align: start;
        //     margin-bottom: 16px;
        // }
        // .section-title {
        //     text-align: start;
        // }
    }
    
    .section-label {
        text-align: start;
        margin-bottom: 16px;
        font-family: 'Titan One';
        @include fonts(null, 18px, 1.16, null);
        text-transform: uppercase;
        color: #ffa5ba;
        @media screen and(min-width: 768px) {
            margin-bottom: 12px;
            @include fonts(null, 26px, 1.15, 0.04em);
        }
        @media screen and(min-width: 1280px) {
            margin-bottom: 16px;
            @include fonts(null, 30px, 1.33, null);
        }
    }
    
    .section-title {
        font-family: 'Titan One';
        @include fonts(null, 34px, 1.14, 0.04em);
        text-transform: uppercase;
        color: #d41443;
        @media screen and(min-width: 768px) {
            @include fonts(null, 48px, 1.145, 0.06em);
        }
        @media screen and(min-width: 1280px) {
            @include fonts(null, 58px, 1.13, null);
        }
    }
    
    .footer-feedback {
        display: flex;
        margin-left: auto;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }
    
    .social-list {
        display: flex;
        // margin-left: -28px;
        margin-bottom: 40px;
        @media screen and(min-width: 1280px) {
            margin-bottom: 50px;
        }
    }
    
    .social-item {
        margin-left: 25px;
    }
    
    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #ffffff;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #fea5bb;
        animation: social-icon-anime 2000ms infinite 750ms;
        @media screen and(min-width: 768px) {
            width: 34px;
            height: 34px;
        }
    }
    
    .social-link:hover,
    .social-link:focus {
        background-color: #d41443;
        transform: scale(1.2);
    }
    
    .social-icon {
        fill: inherit;
        stroke: none;
    }
    
    .footer-address {
        @include fonts(700, 12px, 1.86, null);
        font-style: normal;
        color: #000000;
        @media screen and(min-width: 768px) {
            font-size: 14px;
        }
        @media screen and(min-width:768px) {
            font-size: 16px;
        }
    }
    
    .footer-address:hover,
    .footer-address:focus {
        transform: scale(1.2);
    }
    
    .footer-tel {
        color: #d41443;
    }
    
    .footer-copyright::before {
        content: '';
        display: block;
        border: 1px solid #e1e1e1;
        //     margin-bottom: 22px;
        //     @media screen and(min-width: 768px) {
        //         margin-bottom: 29px;
        //     }
        //     @media screen and(min-width:1280px) {
        //         margin-bottom: 9px;
        //     }
    }
    
    .footer-copyright {
        text-align: center;
    }
    
    .footer-license {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 0px 20px 0px;
        text-align: center;
        @include fonts(700, 14px, 1.52, null);
        color: #907e82;
        @media screen and(min-width: 350px) {
            width: 100%;
        }
        @media screen and(min-width: 768px) {
            line-height: 1.86;
            letter-spacing: 0.02em;
            padding: 8px 0;
        }
    }
    
    .section__footer {
        padding-top: 0px;
    }