//animation-social-icon//
@keyframes social-icon-anime {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 44, 97, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

///
.footer {
  background-color: #fff5f6;
  .container {
    .section-head {
      @media screen and(max-width: 767px) {
        margin-left: 0px;
        margin-bottom: 40px;
      }
    }
    @media screen and(min-width:768px) {
      display: flex;
    }
  }
}

.section__footer {
  padding-top: 0px;
}

.section-head {
  width: 234px;
  @media screen and(min-width: 768px) {
    width: 340px;
  }
  @media screen and(min-width:1280px) {
    width: 477px;
  }
  &__label {
    text-align: start;
    margin-bottom: 16px;
    font-family: 'Titan One';
    @include fonts(400, 18px, 1.16, null);
    text-transform: uppercase;
    color: #ffa5ba;
    @media screen and(min-width: 768px) {
      margin-bottom: 12px;
      @include fonts(400, 26px, 1.15, 0.04em);
    }
    @media screen and(min-width: 1280px) {
      margin-bottom: 16px;
      @include fonts(400, 30px, 1.33, null);
    }
  }
  &__title {
    font-family: 'Titan One';
    @include fonts(400, 34px, 1.14, 0.04em);
    text-transform: uppercase;
    color: #d41443;
    @media screen and(min-width: 768px) {
      @include fonts(400, 48px, 1.145, 0.06em);
    }
    @media screen and(min-width: 1280px) {
      @include fonts(400, 58px, 1.13, null);
    }
  }
}

.footer__feedback {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.social-list {
  display: flex;
  margin-bottom: 40px;
  @media screen and(min-width: 1280px) {
    margin-bottom: 50px;
  }
  &__item + &__item {
    margin-left: 25px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fea5bb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: social-icon-anime 2000ms infinite 750ms;
    @media screen and(min-width: 768px) {
      width: 34px;
      height: 34px;
    }
  }
  &__link:hover,
  &__link:focus {
    background-color: #d41443;
    transform: scale(1.2);
  }
  &__icon {
    fill: inherit;
    stroke: none;
  }
}

.footer__address {
  @include fonts(700, 12px, 1.86, null);
  font-style: normal;
  color: #000000;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: 768px) {
    font-size: 14px;
  }
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.footer__tel {
  color: #d41443;
}

.footer__copyright::before {
  content: '';
  display: block;
  border: 1px solid #e1e1e1;
}

.footer__copyright {
  text-align: center;
}

.footer__license {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 0px 20px 0px;
  text-align: center;
  @include fonts(700, 14px, 1.52, null);
  color: #907e82;
  @media screen and(min-width: 350px) {
    width: 100%;
  }
  @media screen and(min-width: 768px) {
    line-height: 1.86;
    letter-spacing: 0.02em;
    padding: 8px 0;
  }
}
