.header{
    background-color: #FFB8CA;
}

.logo__header{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 0px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15px;
    text-transform: uppercase;
    color: #D41443;
}

.logo__header::before{
    content: " ";
    width: 50px;
    height: 50px;
    background-color: #D41443;
    border-radius: 50%;
    margin-right: 20px;
    
}

.header-menu__open{
    align-items: center;
    display: flex;
    margin-left: auto;
    background-color: #D41443;
    border: none;
    width: 20px;
    height: 12px;
}

.header__container{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.mob-menu{
    padding-top: 20px;
    position: absolute;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #E17992;
    box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0.25));
    overflow-y: auto;
    height: 100vh;
}

.mob-menu__close{
    display: block;
    margin-left: auto;
    width: 14px;
    height: 14px;
    border: 0;
    margin-bottom: 26px;
}

.buttob__order {
    padding: 11px 0px;
    display: block;
    border: 0;
    border-radius: 22px;
    min-width: 200px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    text-align: center;

    color: #D41443;

    margin-bottom: 19px;
}

.site-nav__item{
    padding: 11px 0px;
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    
}

.site-nav__link{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.site-nav__link--current{
    color: #D41443;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}
// container 
.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
    @media screen and (min-width: 480px){
        max-width: 480px;
    }
}