.header {
  background-color: var(--hero-bg-primary);
  position: relative;
  width: 100%;
  // z-index: 1;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    position: absolute;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 37px;
  }
}

.logo__header {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 0px;
  font-family: 'Titan One';
  @include fonts(null, 26px, 1.15, null);
  text-transform: uppercase;
  color: var(--section-title-color);
  @media screen and (min-width: 768px) {
    padding: 0px;
  }
}

.logo__circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: var(--section-title-color);
  border-radius: 50%;
}

.logo__icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.header-menu__open {
  align-items: center;
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    margin-right: 32px;
    position: absolute;
    left: 524px;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
  z-index: 20;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    align-items: normal;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 1279px) {
  .mob-menu {
    position: absolute;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: var(--mobile-menu-color);
    box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0.25));
    overflow-y: auto;
    height: 100vh;
    min-width: 240px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      width: 40%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .mob-menu {
    position: absolute;
  }
}

.mob-menu.is-hidden {
  transform: translateX(0);
  opacity: 1;
}

.mob-menu__close {
  display: block;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu-open__icon {
  width: 20px;
  height: 20px;

  fill: var(--section-title-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--btn-hover-color-accent);
  }
}

.menu-close__icon {
  fill: var(--primary-bg);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--section-title-color);
  }
}

.button__order {
  padding: 11px 0px;
  display: inline-block;
  border: 0;
  border-radius: 22px;
  min-width: 200px;
  @include fonts(700, 16px, 1.31, null);
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--primary-bg);
  color: var(--section-title-color);
  margin: 60px 20px 20px 19px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

// .tab-button__order {
//     display: none;
//     @media screen and (min-width: 768px) {
//         padding: 11px 0px;
//         display: inline-block;
//         border: 0;
//         border-radius: 22px;
//         min-width: 160px;
//         @include fonts(700, 16px, 1.31, null);
//         align-items: center;
//         text-align: center;
//         justify-content: center;
//         background-color: var(--primary-bg);
//         color: var(--section-title-color);
//     }
//     @media screen and (min-width: 1280px) {
//         display: none;
//     }
// }
.tab-button__order {
  display: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
  @media screen and (min-width: 768px) {
    padding: 11px 0px;
    display: inline-block;
    border: 0;
    border-radius: 22px;
    min-width: 160px;
    @include fonts(700, 16px, 1.31, null);
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--primary-bg);
    color: var(--section-title-color);
  }
  @media screen and (min-width: 1280px) {
    height: 44px;
    padding: 11px 0px;
    display: inline-block;
    border: 0;
    border-radius: 22px;
    min-width: 160px;
    @include fonts(700, 16px, 1.31, null);
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--primary-bg);
    color: var(--section-title-color);
  }
}

.button-order__icon {
  margin-left: 15px;
}

.site-nav__item {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  @media screen and (min-width: 1280px) {
    border: none;
  }
}

.site-nav__list {
  @media screen and (min-width: 1280px) {
    min-width: 541px;
    position: absolute;
    z-index: 1;
    top: 3;
    left: 400;
    display: flex;
    gap: 35px;
  }
}

.site-nav__link {
  padding: 11px 0px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--section-title-color);
  }
  @include fonts(700, 14px, 1.3, null);
  display: flex;
  align-items: center;
  color: var(--primary-bg);
  padding-left: 20px;
  @media screen and (min-width: 1280px) {
    @include fonts(null, 16px, 1.31, null);
    padding-left: 0px;
  }
}

.site-nav__link--current {
  color: var(--section-title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--btn-hover-color-accent);
  }
}

// .is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     visibility: hidden;
// }
.no-scroll {
  overflow: hidden;
}
