.header {
    background-color: var(--hero-bg-primary);
}

.logo__header {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 0px;

    font-family: 'Titan One';
    font-size: var(--font-size-label-tab);
    line-height: 1.15px;
    text-transform: uppercase;
    color: var(--section-title-color);
}

.logo__picture {
    margin-right: 20px;

}

.header-menu__open {
    align-items: center;
    display: flex;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.header__container {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.mob-menu {
    padding-top: 20px;
    position: absolute;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--mobile-menu-color);
    box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0.25));
    overflow-y: auto;
    height: 100vh;
}

.mob-menu__close {
    display: block;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    margin-bottom: 26px;
    padding: 0;
    position: relative;
    top: 0px;
    right: 20px;
}

.buttob__order {
    padding: 11px 0px;
    display: inline-block;
    border: 0;
    border-radius: 22px;
    min-width: 200px;

    font-weight: 700;
    font-size: var(--primary-font-size);
    line-height: 1.31;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: var(--section-title-color);

    margin-bottom: 19px;
}

.button_conteiner{
    padding: 0 20px;
}

.buttob-order__icon{
    margin-left: 27px;
}

.site-nav__item {
    padding: 11px 0px;
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;

}

.site-nav__link {
    font-weight: 700;
    font-size: var(--secondary-font-size);
    line-height: 1.3;
    display: flex;
    align-items: center;
    color: var(--primary-bg);
    padding-left: 20px;

}

.site-nav__link--current {
    color: var(--section-title-color);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}