.hero {
  background-color: var(--hero-bg-primary);
}
.hero__container {
  position: relative;
  padding-top: 136px;
  padding-bottom: 158px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 147px;
    padding-bottom: 60px;
  }
}

// ---------- hero__box-one ----------

.hero__box-one {
  position: relative;
  z-index: 10;

  display: inline-flex;
  flex-direction: column;
}
.caption-box {
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.hero__title {
  margin-bottom: 20px;
  max-width: 220px;

  font-family: var(--font-title);
  @include fonts(400, 26px, 1.15, 0.04em);
  text-transform: uppercase;
  color: var(--primary-bg);

  @media screen and (min-width: 768px) {
    max-width: 170px;

    @include fonts(null, 22px, 1.14, null);
  }
  @media screen and (min-width: 1280px) {
    max-width: 280px;

    @include fonts(null, 38px, 1.16, null);
  }

  &--red {
    @include fonts(null, 48px, 0.96, null);
    color: var(--section-title-color);

    @media screen and (min-width: 768px) {
      @include fonts(null, 34px, 0.91, null);
    }
    @media screen and (min-width: 1280px) {
      @include fonts(null, 58px, 0.9, null);
    }
  }
}
.hero-nav {
  display: inline-flex;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 12px;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: 62px;
    min-height: 24px;
    background-color: var(--primary-bg);
    border-radius: 20px;

    @include fonts(400, 8px, 1.25, null);
    color: var(--primary-bg);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1280px) {
      @include fonts(null, 14px, 1.29, null);

      min-width: 107px;
      min-height: 40px;
    }
  }
  &__link--white {
    background-color: var(--section-title-color);
  }
  &__link--red {
    min-width: 82px;

    color: var(--section-title-color);

    @media screen and (min-width: 1280px) {
      min-width: 138px;
    }
  }
  &__link--white:hover,
  &__link--white:focus {
    background-color: var(--btn-hover-color-accent);
  }
  &__link--red:hover,
  &__link--red:focus {
    background-color: var(--btn-hover-color);
  }
}

.product-box {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: inline-flex;
  align-items: center;
}
.product-box__about {
  max-width: 115px;

  @media screen and (min-width: 1280px) {
    max-width: 200px;
  }
}
.product-box__text {
  margin-bottom: 7px;
  @include fonts(400, 8px, 1.5, null);
  color: var(--primary-bg);

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    @include fonts(null, 14px, 1.4, null);
  }
}
.product-box__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-bg);
  fill: var(--section-title-color);

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
    fill: var(--btn-hover-color-accent);
  }
}
.product-box__btn-icon {
  width: 6px;
  height: 6px;

  @media screen and (min-width: 1280px) {
    width: 10px;
    height: 10px;
  }
}

// ---------- hero__box-two ----------

.hero__box-two {
  position: absolute;
  bottom: 0;
  left: 36%;

  @media screen and (min-width: 768px) {
    left: 322px;
  }
  @media screen and (min-width: 1280px) {
    left: 636px;
  }
}

.hero__box-two::before {
  content: '';
  position: absolute;
  top: -9px;
  left: -84px;

  display: block;
  width: 344px;
  height: 344px;
  background-color: var(--circle-bg);
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    top: -37px;
    left: -74px;

    width: 334px;
    height: 334px;
  }
  @media screen and (min-width: 1280px) {
    top: -54px;
    left: -119px;

    width: 534px;
    height: 534px;
  }
}
.hero__image {
  position: relative;
}

// ---------- hero__box-three ----------

.hero__box-three {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  bottom: 0;
  right: 32px;
  display: inline-flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    right: 16px;
  }
}
.retail {
  margin-bottom: 70px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 100px;
  }
}
.retail__item {
  position: relative;
  right: 10px;

  @media screen and (min-width: 1280px) {
    right: 18px;
  }
}
.retail__item::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -10px;

  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--primary-bg);
  border-radius: 50%;

  @media screen and (min-width: 1280px) {
    top: -4px;
    right: -18px;
    width: 30px;
    height: 30px;
  }
}
.retail__item:not(:last-child) {
  margin-bottom: 7px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 18px;
  }
}
.retail__text {
  position: relative;
  z-index: 10;
  @include fonts(400, 8px, 1.25, null);
  text-align: right;
  color: var(--primary-bg);

  @media screen and (min-width: 1280px) {
    @include fonts(null, 14px, 1.29, null);
  }
}
.retail__number {
  font-family: var(--font-title);
  @include fonts(400, 28px, 1.14, 0.04em);
  color: var(--section-title-color);

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

// ---------- animations ----------

.hero__box-two::before {
  animation-name: circle;
  animation-duration: 750ms;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes circle {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.hero__image {
  animation-name: ice-cream;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
}
@keyframes ice-cream {
  0% {
    opacity: 0;
    z-index: 20;
    transform: scale(1.5);
  }
  50% {
    opacity: 0;
    z-index: 20;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.retail__image {
  animation-name: tasty;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes tasty {
  0% {
    opacity: 0;
    transform-origin: bottom center;
    transform: perspective(400px) rotateX(90deg);
  }
  50% {
    transform-origin: bottom center;
    transform: perspective(400px) rotateX(90deg);
  }
  100% {
    transform-origin: bottom center;
    transform: perspective(400px) rotateX(0deg);
  }
}

.retail__item {
  animation-name: cafe;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes cafe {
  0% {
    opacity: 0;
    transform-origin: top right;
    transform: rotate(180deg);
  }
  100% {
    transform-origin: top right;
    transform: rotate(0deg);
  }
}
