.modal-one {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}

.modal-one.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  // overflow: scroll;
  background: var(--circle-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  @media screen and (min-width: 450px) {
    width: 450px;
  }
  @media screen and (min-width: 1280px) {
    width: 528px;
  }
}

.modal-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--primary-bg);
  fill: var(--primary-bg);
  background: transparent;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--section-title-color);
    fill: var(--section-title-color);
  }
}

.modal-svg {
  top: 8px;
  right: 8px;
  border: none;
  width: 18px;
  height: 18px;
}

///////////////// form ///////////////
.modal-title {
  margin-bottom: 12px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-bg);
}

.modal-form {
  display: block;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form-label {
  display: block;
  margin-left: 18px;
  margin-bottom: 4px;
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-bg);
}

.modal-container {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 12px 42px;
  border: 1px solid var(--circle-bg);
  border-radius: 20px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--section-title-color);
  }
}

.modal-form-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--circle-bg);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container:focus-within .modal-form-svg {
  border-color: var(--section-title-color);
  fill: var(--section-title-color);
}

.button__submit {
  display: flex;
  margin: 0 auto;
}

//////////// стилі до радіо кнопок //////////////
.radio-container {
  display: flex;
  justify-content: space-around;
  margin: 22px 0;
  width: 100%;
  height: 40px;
  padding: 4px 0;

  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.16;

  background-color: var(--primary-bg);
  border: 1px solid var(--circle-bg);
  border-radius: 20px;
}

.radio__select {
  display: flex;
  outline: none;
  height: 30px;
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.16;

  padding: 0 18px;

  background-color: var(--circle-bg);
  color: var(--primary-bg);
  border: 1px solid var(--circle-bg);
  border-radius: 20px;
}

.namber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 30px;

  font-family: 'DM Sans';

  background-color: var(--circle-bg);
  color: var(--primary-bg);
  border: 1px solid var(--circle-bg);
  border-radius: 20px;
}

.namber .namber__input {
  appearance: none;
  outline: none;
  padding: 1px 5px;
  color: var(--circle-bg);
  border: 1px solid var(--circle-bg);
  border-radius: 20px;
}

.radio__option {
  appearance: none;

  &:hover {
    background-color: #fff;
  }
}

//////////////// модалка 2 /////////////////
// .modal-one {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 100;
//   background: rgba(0, 0, 0, 0.4);
// }

// .modal-two.is-hidden {
//   opacity: 0;
//   pointer-events: none;
// }

// .modal-window-two {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   padding: 40px;
//   background: var(--circle-bg);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 15px;
//   @media screen and (min-width: 450px) {
//     width: 450px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 528px;
//   }
// }

// .modal-button {
//   display: flex;
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   align-items: center;
//   justify-content: center;
//   border: none;
//   width: 30px;
//   height: 30px;
//   cursor: pointer;
//   border-radius: 50%;
//   border: 1px solid var(--primary-bg);
//   fill: var(--primary-bg);
//   background: transparent;
//   transition-property: fill, border-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     border-color: var(--section-title-color);
//     fill: var(--section-title-color);
//   }
// }
