.products__container{
    padding-top: 80px;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-item: center;
        padding: 40px 32px 60px 32px;
    }
}
.products__text-main {
    margin-bottom: 15px;
    font-family: 'Titan One';
    @include fonts(400, 18px, 1.17, null);
    // font-weight: 400;
    // font-size: 18px;
    // line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    @media screen and (min-width: 768px){
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 1.15;
    }
}

.products__title {
    margin-bottom: 8px;
    font-family: 'Titan One';
    @include fonts(400, 34px, 1.15, 0.04em);
    // font-weight: 400;
    // font-size: 34px;
    // line-height: 1.15;
    text-align: center;
    // letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
        font-size: 48px;
    }
}

.products__item {
    position: relative;
    margin-top: 140px;
    padding: 160px 40px 40px 40px;
    background-color: #FFB8CA;
    border-radius: 24px;
    @media screen and (min-width: 768px) {
        margin-top: 138px;
        padding: 86px 320px 40px 32px;
    }
}
.products__item--bez{
    background-color: #F0D1A5;
}
.products__item--green{
    background-color: #C2E297;  
}

.products__item::before {
    display: block;
    position: absolute;
    content: '';
    width: 280px;
    height: 280px;
    background-size: contain;
    background-image: url(../images/mobile/icecream-products-m.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobile/icecream-products-m@2x.png);
    }
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-image: url(../images/tablet/icecream-products-t.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/tablet/icecream-products-t@2x.png);
            }
        }
}
.products__item--bez::before{
    background-image: url(../images/mobile/icecoffe-products-m.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobile/icecoffe-products-m@2x.png);
    }
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-image: url(../images/tablet/icecoffe-products-t.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/tablet/icecoffe-products-t@2x.png);
            }

}
}
.products__item--green::before {
    background-image: url(../images/mobile/milkshakes-products-m.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobile/milkshakes-products-m@2x.png);
    }
        @media screen and (min-width: 768px) {
            width: 224px;
            height: 224px;
            background-image: url(../images/tablet/milkshakes-products-t.png);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/tablet/milkshakes-products-t@2x.png);
                }
}
}

.products__subtitle {
    position: relative;
    margin-bottom: 70px;
    font-family: 'Titan One';
    @include fonts(400, 20px, 1.15, 0.04em);
    // font-weight: 400;
    // font-size: 20px;
    // line-height: 1.15;
    text-align: center;
    // letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.products__subtitle::after {
    /* display: block; */
    position: absolute;
    content: '';
    background-image: url(../images/points-products.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/points-products-@2x.png);
        }
}

.products__subtext {
    margin-bottom: 32px;
    font-family: 'DM Sans';
    @include fonts(700, 14px, 1.52, 0.04em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.52;
    text-align: center;
    // letter-spacing: 0.04em;
    color: #FFFFFF;
}

.products__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 40px;
    // height: 40px;
    // background-color: #FFFFFF;
    // border-radius: 50%;
    // border: transparent;
}