.products{
    padding: 80px 0 40px 0;
    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 60px;
    }
}
.products__list {
    @media screen and (min-width: 768px){
    display: flex;
    gap: 16px;
    }
    @media screen and (min-width: 1280px){
    gap: 32px;
    }
}
.products__text-main {
    margin-bottom: 15px;
    font-family: var(--font-title);
    @include fonts(400, 18px, 1.17, null);
    text-align: center;
    text-transform: uppercase;
    color: var(--circle-bg);
    @media screen and (min-width: 768px){
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 1.15;
    }
    @media screen and (min-width: 1280px){
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__title {
    margin-bottom: 148px;
    font-family: var(--font-title);
    @include fonts(400, 34px, 1.15, 0.04em);
    text-align: center;
    text-transform: uppercase;
    color: var(--section-title-color);
    @media screen and (min-width: 768px) {
        margin-bottom: 154px;
        font-size: 48px;
    }
    @media screen and (min-width: 1280px){
        margin-bottom: 261px;
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
    }
}    

.products__item {
    position: relative;
    // margin-top: 140px;
    padding: 160px 40px 40px 40px;
    background-color: var(--hero-bg-primary);
    border-radius: 24px;
    @media screen and (min-width: 320px) and (max-width: 767px){
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 768px) {
        // margin-top: 138px;
        padding-top: 118px; 
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1280px) {
        // margin-top: 261px;
        padding: 165px 75px 60px 75px;
    }
    &:not(:first-child) {
        @media screen and (min-width: 320px) and (max-width: 767px){
        margin-top: 140px;
    }
   }
}

.products__item--bez{
    background-color: var(--products-coffee-col);
}
.products__item--green{
    background-color: var(--products-shakes-col);  
}

.products__item::before {
    display: block;
    position: absolute;
    content: '';
    width: 280px;
    height: 280px;
    background-size: contain;
    background-image: url(../images/mobile/icecream-products-m.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobile/icecream-products-m@2x.png);
    }
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
        content: '';
        width: 224px;
        height: 224px;
        background-image: url(../images/tablet/icecream-products-t.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/tablet/icecream-products-t@2x.png);
            }
        transform: translate(-50%, -138px);    
        }
        @media screen and (min-width: 1280px) {
            content: '';
            width: 394px;
            height: 394px;
            background-image: url(../images/desktop/icecream-products-d.png);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/desktop/icecream-products-d@2x.png);
                }
            transform: translate(-50%, -256px);    
            }
}

.products__item--bez::before {
    background-image: url(../images/mobile/icecoffe-products-m.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobile/icecoffe-products-m@2x.png);
    }
    @media screen and (min-width: 768px) {
        background-image: url(../images/tablet/icecoffe-products-t.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/tablet/icecoffe-products-t@2x.png);
            }
}
    @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/icecoffe-products-d.png);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/desktop/icecoffe-products-d@2x.png);
        }
}
}

.products__item--green::before {
    background-image: url(../images/mobile/milkshakes-products-m.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobile/milkshakes-products-m@2x.png);
    }
    @media screen and (min-width: 768px) {
        background-image: url(../images/tablet/milkshakes-products-t.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/tablet/milkshakes-products-t@2x.png);
            }
}
    @media screen and (min-width: 1280px) {
        background-image: url(../images/desktop/milkshakes-products-d.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/desktop/milkshakes-products-d@2x.png);
        }
}
}

.products__subtitle {
    position: relative;
    margin-bottom: 70px;
    font-family: var(--font-title);
    @include fonts(400, 20px, 1.15, 0.04em);
    // font-weight: 400;
    // font-size: 20px;
    // line-height: 1.15;
    text-align: center;
    // letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-bg);
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__subtitle::after {
    /* display: block; */
    position: absolute;
    content: '';
    background-image: url(../images/points-products.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/points-products-@2x.png);
        }
        @media screen and (min-width: 1280px) {
            top: 200%;
        }
}

.products__subtext {
    margin-bottom: 32px;
    font-family: 'DM Sans';
    @include fonts(700, 14px, 1.52, 0.04em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.52;
    text-align: center;
    // letter-spacing: 0.04em;
    color: var(--primary-bg);
    @media screen and (min-width: 1280px) {
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 1.76;
    }
}

.products__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    background-color: var(--primary-bg);
    border-radius: 50%;
    border: transparent;
    fill: var(--section-title-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--section-title-color);
        fill: var(--primary-bg);
    }
}